<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Facebook</a>
      <a class="navbar-brand" href="#">Instagram</a>
      <a class="navbar-brand" href="#">Twitter</a>
      <a class="navbar-brand" href="#">YouTube</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Privacy Policy</a>
      <a class="navbar-brand" href="#">Terms of Service</a>
      <a class="navbar-brand" href="#">Contact Us</a>
      <a class="navbar-brand" href="#">Help</a>
      <p>
        &copy; 2025 Octave Guitar Class. All rights reserved.
      </p>
      
     
  </nav>