<div class = "container">
    <div class = "navigation">
        <ul>
            <li>
                <a href="/">Brand Name</a>
                <span class="title">Home</span>
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/classes">Classes</a>
                <span class="tooltip">Classes</span>
                <span class="icon">
                    <ion-icon name="book-outline"></ion-icon>
            </li>
            <li>
                <a href="/students">Students</a>
                <span class="tooltip">Students</span>
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/payments">Payment</a>
                <span class="tooltip">Payment</span>
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/logout">Logout</a>
                <span class="tooltip">Home</span>
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
            </li>
        </ul>
    </div>
</div>