
.navbar a{
    text-decoration: none;
    color: #000000;
    font -size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.navbar a:hover{
    color : #03681eca;
}
.navbar ul{
    list-style: none;
    
}
.navbar {
    background-color: #a5b3abca;
    
}
.navbar-toggler{
    background-color: #bf0c0cca;
    border: none;
    padding: 10px 6px;
    outline : none;
}
.navbar-toggler:span{
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    border: 1px;
}
.navbar-toggler:span+span{
    margin-top: 4px;
    margin-left: 4px;
    width: 18px
}
.navbar-toggler:span+span+span{
    margin-left: 10px;
    width: 10px
}
.navbar-expand-lg .navbar-nsv .nav-link{
    padding: 2rem 1rem;
    
}
.navbar-expand-lg .navbar-nsv .nav-link:hover{
    border-top: 4px solid #bf0c0cca;
}
.navbar-expand-lg .navbar-nsv .nav-link .active{
   color : #bf0c0cca;
}